<div class="table100">
    <table>
        <thead>
            <tr class="table100-head">

                <th class="column1">Order ID</th>
                <th class="column2">Name</th>
                <th class="column3">Quantity</th>
                <th class="column4">Total</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of product">
                <td class="column1">{{row.order_id}}</td>
                <td class="column2">{{row.product_name}}</td>
                <td class="column3">{{row.quantity}}</td>
                <td class="column4">{{row.total}}</td>
            </tr>


        </tbody>
    </table>
</div>